@{
    ViewBag.Title = "Home";
}

<!--URL-->
<input type="hidden" id="url-get-jobs" value="@Url.Action("_GetJobs", "Job")" />
<input type="hidden" id="url-modal-addedit" value="@Url.Action("_AddEditJob", "Job")" />
<input type="hidden" id="url-save-add" value="@Url.Action("SaveJob", "Job")" />
<input type="hidden" id="url-save-edit" value="@Url.Action("SaveEditJob", "Job")" />
<input type="hidden" id="url-delete-job" value="@Url.Action("DeleteJob", "Job")" />
<!---->

<div class="card mx-auto custom-card col-md-12">
    <div class="row">
        <button class="btn btn-purple" id="btn-add-job">
            <i class="fa fa-plus-circle pr-2"></i> Add Job
        </button>
    </div>
    <div class="row">
        <div class="table-responsive mt-4" id="div-job-table">
            @Html.Action("_GetJobs", "Job")
        </div>
    </div>
</div>


<!-- Modal Area -->
<div id="modal-job">

</div>
<!---->

@section scripts{
    <script src="@Url.Content("~/Scripts/Custom/Job.js")"></script>
}