@{
    ViewBag.Title = "Home";
}


<div class="card mx-auto custom-card col-md-12">
    <div class="row">
        <button class="btn btn-purple">
            <i class="fa fa-plus-circle pr-2"></i> Add Job
        </button>
    </div>
    <div class="row">
        <div class="table-responsive mt-4" id="div-job-table">
            @Html.Action("_GetJobs", "Job")
        </div>
    </div>
</div>


<!-- Modal Area -->
<div id="modal-job">

</div>
<!---->

@section scripts{
    <script src="@Url.Content("~/Scripts/Custom/Job.js")"></script>
    <script>
        var url-get-jobs = @Url.Action("_GetJobs", "Job")
        var url-modal-add = @Url.Action("_AddJob", "Job")
        var url-save-add = @Url.Action("Save", "Job")
        var url-modal-edit = @Url.Action("_Edit", "Job")
        var url-save-edit = @Url.Action("SaveEdit", "Job")
        var url-delete = @Url.Action("Delete","Job")
    </script>
}